---
import Footer from '../components/Footer.astro';
import api from '../const/api';

var erreur=''
var step=1
var mail=''
const stepp=Astro.url.searchParams.get('step')
if(stepp!=null){
    step=parseInt(stepp)
    const maill=Astro.url.searchParams.get('mail')
    if(maill!=null){
        mail=maill
        /*const response=await fetch(api('users/email/'+mail), {
            headers: {"Content-Type": "application/json"},
            method: "GET"
        })
        const user=await response.json()
        console.log(user)*/
    }
}
if(Astro.request.method==='POST'){
    try{
        const data=await Astro.request.formData();
        var stepPost=1
        const postStep=data.get('step')
        if(postStep!=null){
            stepPost=parseInt(postStep.toString())
        }
        var mailPost=String(data.get('mail'))
        if(stepPost==1){
            const jsonObject={mail:mailPost}
            const jsonString=JSON.stringify(jsonObject)
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Accept", "application/json");

            //console.log(jsonString);
            const response = await fetch(api("users/mdp"), {
                headers: myHeaders,
                method:'POST',
                body:jsonString
            });
        }else{
            const response=await fetch(api('users/email/'+mailPost), {
                headers: {"Content-Type": "application/json"},
                method: "GET"
            })
            const users=await response.json()
            const user=users[0]
            const retour=await fetch(api('users/mdp/'+user.id), {
                headers: {"Content-Type": "application/json"},
                method: "PUT",
                body: JSON.stringify({
                    "mdp": user.nom,
                })
            })
            const retourJson=await retour.json()
            //console.log(retourJson)
            if(retourJson.ok){
                var rep=JSON.stringify(users)
                localStorage.setItem('user',rep)
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                myHeaders.append("Accept", "application/json");
                const userAbo = await fetch(api("subscription/"+user.id), {
                    headers: myHeaders,
                    method:'GET'
                });
                //console.log(userAbo)
                const abo=await userAbo.json();
                if(abo.length==0){
                    localStorage.setItem("abonnement",'')
                }else{          
                    const ajd=new Date()
                    const dateFin=new Date(abo[0].date_fin)
                    if(dateFin>ajd){
                        localStorage.setItem("abonnement",JSON.stringify(abo[0]));
                    }else{
                        localStorage.setItem("abonnement",'')
                    }
                }  
                return Astro.redirect('/accueil?id='+user.id)
            }else{
                throw Error('error')
            }
        }
    }catch(error){
        console.log(error)
    }
    //console.log(res//return Astro.redirect('/accueil?id='+user.id);
}
---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mot de passe oublié</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }

      .submit-btn {
          box-shadow: 0 2px 14px 0 rgba(0,0,0,0.2);
      }
      
      .submit-btn:hover {
          box-shadow: 0 6px 14px 0 rgba(0,0,0,0.24);
      }


      .form-group {
          position: relative;
          /* margin: 12px 0; */
      }

      .form-group input {
          padding: 8px 10px;
          /* font-size: 18px; */
          border-radius: .25rem;
          border: 1px solid rgba(0,0,0,.15);
          background-color: transparent;
          /* border-color: #eee; */
          transition: 0.3s all ease;
      }

      .form-group input:focus {
          /* border-color: red; */
          box-shadow: 0px 0px 3px 0.2px;
          /* border: 2px solid; */
      }

      .form-group input::placeholder {
          color: transparent;
      }

      .form-group .form-label {
          position: absolute;
          top: 9px;
          left: 5px;
          /* font-size: 18px; */
          padding: 0 10px;
          color: #acacac;
          pointer-events: none;
          transition: 0.3s all ease;
      }

      .form-group input:focus + .form-label,
      .form-group input:not(:placeholder-shown) + .form-label {
          transform: translate(0px, -18px);
          background-color: white;
          font-size: 12px;
          /* color: #eee; */
          border-color: red;
      }

    </style>
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center" style="margin-top: 5%;">
        <div class="col-md-1"></div>
        <div class="col-lg-5 mb-5 mb-lg-0" style="z-index: 100000;">
          <div class="card cascading-right jumbotron" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              box-shadow: 0px 0px 15px -5px;
              border: none;
              box-shadow-right: none;
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Mot de passe oublié</h2>
              {step==1&&
                <form method="post"  >

                    <div class="form-group">
                        <input type="email" id="email" name="mail" class="form-control" placeholder=" " />
                        <label class="form-label">Adresse email</label>
                    </div>
                    <input type="hidden" name="step" value="1" >
                
                    {erreur &&<div class="alert alert-danger" role="alert">
                    {erreur}
                    </div>}
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 submit-btn">
                    Confirmer
                    </button>
    
                    
                </form>
                <p>Vous n'avez pas de compte? <a href='/registration'>Inscrivez-vous.</a></p>
              }
              {step==2&&
                <form method="post"  >

                    <div class="form-group">
                        <input type="email" id="email" name="mail" class="form-control" value={mail} readonly />
                        <label class="form-label">Adresse email</label>
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" id="password" name="mdp" class="form-control" placeholder=" " />
                        <label class="form-label" for="password">Nouveau mot de passe</label>
                    </div>
                    <input type="hidden" name="step" value="2" >
                
                    {erreur &&<div class="alert alert-danger" role="alert">
                    {erreur}
                    </div>}
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 submit-btn">
                    Confirmer
                    </button>
    
                    
                </form>
              }
              
            </div>
          </div>
        </div>
  
        <div class="col-lg-5 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" style="box-shadow: 0px 0px 20px -5px;" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

  <Footer/>
    
</body>
</html>