---
import Footer from '../components/Footer.astro';
import api from '../const/api';
import SocialLogin from '../components/Login.jsx';
import LoginForm from '../components/LoginForm.jsx'


var erreur='';
var rep='';
if(Astro.url.searchParams.get('deconnexion')){
	localStorage.removeItem('user')
	localStorage.removeItem('abonnement')
}
// if(Astro.request.method==='POST'){
//   try{
//     const data=await Astro.request.formData();
//     var res=String(data.get('mail'))
//     .toLowerCase()
//     .match(/^[a-zA-Z0-9.]+@[a-zA-Z0-9]+.[a-zA-Z0-9]+$/);
//     //var txt='ertyr.00@oiur.fr';
//     //console.log(String(txt).match(/^[a-zA-Z0-9.]+@[a-zA-Z0-9]+.[a-zA-Z0-9]+$/));
//     //console.log(res);
//     if(res!=null){
//       const jsonObject = Object.fromEntries(data);
//       const jsonString = JSON.stringify(jsonObject);
//       var myHeaders = new Headers();
//       myHeaders.append("Content-Type", "application/json");
//       myHeaders.append("Accept", "application/json");

//       //console.log(jsonString);
//       const response = await fetch(api("login"), {
//         headers: myHeaders,
//         method:'POST',
//         body:jsonString
//       });
//       //console.log(await response.text());
//       const reponse = await response.json();
//       //console.log(reponse)
//       if(reponse.erreur==undefined){
//         //console.log('reponse non erreur');
//         var rep=JSON.stringify(reponse)
//         localStorage.setItem('user',rep)
//         //console.log(reponse)
//         const userAbo = await fetch(api("subscription/"+reponse[0].id), {
//           headers: myHeaders,
//           method:'GET'
//         });
//         //console.log(userAbo)
//         const abo=await userAbo.json();
//         //console.log(abo)
//         if(abo.length==0){
//           localStorage.setItem("abonnement",'')
//         }else{          
//           const ajd=new Date()
//           const dateFin=new Date(abo[0].date_fin)
//           if(dateFin>ajd){
//             localStorage.setItem("abonnement",JSON.stringify(abo[0]));
//           }else{
//             localStorage.setItem("abonnement",'')
//           }
//         }        
//         return Astro.redirect('/accueil');
//       }else{
//         erreur=reponse.erreur;
//       }
//     }    else{
//       erreur="Mail invalide";
//     }
//   }catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }

---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Se Connecter</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.css" />
</head>
<body class="animsition">

    <!-- Section: Design Block -->

    <!-- <script>
      function functionFromParent() {
        alert('hello from child component');
      }
    </script> -->

<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }

      .submit-btn {
          box-shadow: 0 2px 14px 0 rgba(0,0,0,0.2);
      }
      
      .submit-btn:hover {
          box-shadow: 0 6px 14px 0 rgba(0,0,0,0.24);
      }


      .form-group {
          position: relative;
          /* margin: 12px 0; */
      }

      .form-group input {
          padding: 8px 10px;
          /* font-size: 18px; */
          border-radius: .25rem;
          border: 1px solid rgba(0,0,0,.15);
          background-color: transparent;
          /* border-color: #eee; */
          transition: 0.3s all ease;
      }

      .form-group input:focus {
          /* border-color: red; */
          box-shadow: 0px 0px 3px 0.2px;
          /* border: 2px solid; */
      }

      .form-group input::placeholder {
          color: transparent;
      }

      .form-group .form-label {
          position: absolute;
          top: 9px;
          left: 5px;
          /* font-size: 18px; */
          padding: 0 10px;
          color: #acacac;
          pointer-events: none;
          transition: 0.3s all ease;
      }

      .form-group input:focus + .form-label,
      .form-group input:not(:placeholder-shown) + .form-label {
          transform: translate(0px, -18px);
          background-color: white;
          font-size: 12px;
          /* color: #eee; */
          border-color: red;
      }

      /* .swal-modal {
        position: relative !important;
        z-index: 2 !important;
      } */

    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center" style="margin-top: 5%;">
        <div class="col-md-1"></div>
        <div class="col-lg-5 col-sm-10 mb-5 mb-lg-0" style="z-index: 10;">
          <div class="card cascading-right jumbotron" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              box-shadow: 0px 0px 15px -5px;
              border: none;
              box-shadow-right: none;
              border-radius: 0 !important;
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Connexion</h2>
              <LoginForm client:load  />
  
                <!-- Register buttons -->
                <!-- <div class="text-center">
                  <p>ou continuer avec</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div> -->
              
              <SocialLogin facebookAppId={import.meta.env.FB_APP_ID} googleAppId={import.meta.env.GOOGLE_APP_ID} client:only/>
              <a href='/forgot-password'>Mot de passe oublié?</a>
              <p>Vous n'avez pas de compte? <a href='/registration'>Inscrivez-vous.</a></p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-5 col-sm-2 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" style="box-shadow: 0px 0px 20px -5px;" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

  <Footer/>

  <script>
    function redirectToPage(path) {
      Astro.redirect(path);
    }
  </script>

  <!--===============================================================================================-->
	<script is:inline src="vendor/sweetalert/sweetalert.min.js"></script>
  <!--===============================================================================================-->
  <script is:inline src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script is:inline src="js/main.js"></script>
    
</body>
</html>