---
    import Page from '../components/Page.astro';
    import NavBar from '../components/NavBar.jsx';
    import Footer from '../components/Footer.astro';
    import Emoji from '../components/Emoji'
---

    <p>coucou&#128514;</p>
    <Emoji client:only=react />
../components/NavBar.jsx