.contacts_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.msg_card_body::-webkit-scrollbar {
    display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}